.header-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
    border-bottom: 1px solid rgba(194, 193, 193, 0.521);
}

.header-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.header-menu a {
    display: inline-block;
    padding: 16px 0px;
    position: relative;
    color: #000;
    font-weight: 500;
}

.header-menu a::after {
    content: "";
    display: block;
    height: 2px;
    width: 0%;
    border-radius: 4px;
    margin-top: 4px;
    background: rgb(160, 0, 0);
    position: absolute;
    transition: 0.2s;
}

.header-menu a:hover::after,
.header-menu a.ativar::after {
    width: 100%;
}

@media (max-width: 600px) {
    .header-menu a::after {
        display: none;
    }

    .header-menu a {
        border: 1px solid var(--secundaria-0);
        border-radius: 4px;
        padding: 10px;
    }
}

@media (max-width: 500px) {
    .header-container {
        justify-content: center;
    }
}

@media (max-width: 400px) {
    .header-menu {
        gap: 20px;
    }

    .header-menu a {
        font-size: 0.8rem;
    }
}