@model IEnumerable<AdministradorViewModel>
@{
    ViewData["Title"] = "Clubes";
}

<h1 class="display-5 text-center">@ViewData["Title"]</h1>
<div class="row justify-content-center">
    <div class="col-md-8">
        <table class="table table-striped table-hover table-responsive table-light">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">E-mail</th>
                    <th scope="col" width="120">Ações</th>
                </tr>
            </thead>
            <tbody id="clubes-rows" class="table-group-divider">
                <tr>
                    <td class="text-center" scope="row" colspan="5">
                        <div class="align-items-center mt-5 mb-5">
                            <div class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></div>
                            <strong>Carregando...</strong>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <div class="sticky-top">
            <p class="h3">Cadatrar novo clube</p>
            <form onsubmit="cadastrarClube(event)" class="needs-validation" novalidate>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="addPais" placeholder="Brasil" required>
                    <label for="addPais" class="form-label">País</label>
                    <div class="invalid-feedback">
                        Por favor, digite o nome do país.
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <textarea class="form-control" placeholder="Deixe uma descrição ou informações adicionais aqui" id="addDescricao"></textarea>
                    <label for="addDescricao">Descrição</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="addBandeira" placeholder="arquivo.png" required>
                    <label for="addBandeira" class="form-label">URL da Bandeira</label>
                    <div class="invalid-feedback">
                        Por favor, insira a URL da bandeira deste país.
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <select class="form-control" id="addGrupos" placeholder="arquivo.png" aria-label="Floating label select" required>
                        <option selected disabled value="">Selecione...</option>
                    </select>
                    <label for="addGrupos" class="form-label">Grupo</label>
                    <div class="invalid-feedback">
                        Por favor, selecione um grupo.
                    </div>
                </div>
                <div class="d-grid gap-2 col-12 mx-auto">
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">

    const API_HOST = "https://localhost:5001/api/";

    var cadastrarClube = async (event) => {
        event.preventDefault();

        let clube = {
            nome: document.getElementById("addPais").value,
            descricao: document.getElementById("addDescricao").value,
            urlBandeira: document.getElementById("addBandeira").value,
            gruposId: document.getElementById("addGrupos").value,
        };

        const settings = {
            method: 'POST',
            headers: {
                Accept: 'application/json',
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(clube)
        };
        try {
            const fetchClubes = await fetch(`${API_HOST}Clubes`, settings);
            await fetchClubes.json();

            document.getElementById("addPais").value = "";
            document.getElementById("addDescricao").value = "";
            document.getElementById("addBandeira").value = "";
            document.getElementById("addGrupos").value = "";

            carregarClubes();
        } catch (e) {
            console.log(e);
        }
    }

    var editar = async (event) => {
        event.preventDefault();

        let clubeId = event.target.getAttribute('data-clube-id');

        const settings = {
            method: 'GET',
            headers: {
                Accept: 'application/json',
                'Content-Type': 'application/json'
            }
        };
        try {
            const fetchClubes = await fetch(`${API_HOST}Clubes/${clubeId}`, settings);
            const clube = await fetchClubes.json();
            const fetchGrupos = await fetch(`${API_HOST}Grupos`, settings);
            const grupos = await fetchGrupos.json();
            let grupo = grupos.find(g => g.id === clube.gruposId);
            let htmlForm = "";

            htmlForm += `
                <td scope="row" colspan="5" id="edit-form-${clube.id}">
                    <form onsubmit="editarClube(event)" data-clube-id="${clube.id}" class="row gy-2 gx-3 align-items-center needs-validation" novalidate>
                        <input type="hidden" value="${clube.id}" id="editId-${clube.id}">
                        <div class="form-floating col">
                            <input type="text" value="${clube.nome}" class="form-control" id="editPais-${clube.id}" placeholder="Brasil" required>
                            <label for="editPais" class="form-label">País</label>
                            <div class="invalid-feedback">
                                Por favor, digite o nome do país.
                            </div>
                        </div>
                        <div class="form-floating col">
                                <textarea class="form-control" value="${clube.descricao}" placeholder="Deixe uma descrição ou informações adicionais aqui" id="editDescricao-${clube.id}"></textarea>
                            <label for="editDescricao">Descrição</label>
                        </div>
                        <div class="form-floating col">
                            <input type="text" value="${clube.urlBandeira}" class="form-control" id="editBandeira-${clube.id}" placeholder="arquivo.png" required>
                            <label for="editBandeira" class="form-label">URL da Bandeira</label>
                            <div class="invalid-feedback">
                                Por favor, insira a URL da bandeira deste país.
                            </div>
                        </div>
                        <div class="form-floating col">
                            <select class="form-control" id="editGrupos-${clube.id}" placeholder="arquivo.png" aria-label="Floating label select" required>
                                <option disabled value="">Selecione...</option>`;

            grupos.forEach(g => {
                if (g.id == grupo.id){
                    htmlForm += `<option value="${g.id}" selected>Grupo ${g.nome}</option>`;
                }
                else {
                    htmlForm += `<option value="${g.id}">Grupo ${g.nome}</option>`;
                }
            });

            htmlForm += `
                            </select>
                            <label for="editGrupos" class="form-label">Grupo</label>
                            <div class="invalid-feedback">
                                Por favor, selecione um grupo.
                            </div>
                        </div>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3">
                            <a href="" role="button" class="btn btn-secondary" onclick="carregarClubes()">Cancelar</a>
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </div>
                    </form>
                </td>`;

            document.getElementById(`clube-${clube.id}`).innerHTML = htmlForm;

        } catch (e) {
            console.log(e);
        }

    }

    var editarClube = async (event) => {
        event.preventDefault();

        let clubeId = event.target.getAttribute('data-clube-id');

        let clube = {
            id: document.getElementById("editId-"+clubeId).value,
            nome: document.getElementById("editPais-"+clubeId).value,
            descricao: document.getElementById("editDescricao-"+clubeId).value,
            urlBandeira: document.getElementById("editBandeira-"+clubeId).value,
            gruposId: document.getElementById("editGrupos-"+clubeId).value,
        };

        const settings = {
            method: 'PUT',
            headers: {
                Accept: 'application/json',
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(clube)
        };
        try {
            const fetchClubes = await fetch(`${API_HOST}Clubes/${clubeId}`, settings);
            await fetchClubes.json();

            carregarClubes();
        } catch (e) {
            console.log(e);
        }
    }

    var excluir = async (event) => {
        event.preventDefault();

        let clubeId = event.target.getAttribute('data-clube-id');

        const settings = {
            method: 'DELETE'
        };
        try {
            const fetchClubes = await fetch(`${API_HOST}Clubes/${clubeId}`, settings);
            await fetchClubes;

            carregarClubes();
        } catch (e) {
            console.log(e);
        }
    }

    var carregarClubes = async () => {
        const settings = {
            method: 'GET',
            headers: {
                Accept: 'application/json',
                'Content-Type': 'application/json'
            }
        };
        try {
            const fetchClubes = await fetch(`${API_HOST}Clubes`, settings);
            const clubes = await fetchClubes.json();
            const fetchGrupos = await fetch(`${API_HOST}Grupos`, settings);
            const grupos = await fetchGrupos.json();
            let grupo = "";
            let htmlTable = "";
            let gruposOptions = `<option selected disabled value="">Selecione...</option>`;

            clubes.forEach(clube => {
                grupo = grupos.find(g => g.id === clube.gruposId);

                htmlTable += `
                    <tr id="clube-${clube.id}">
                        <td scope="row">${clube.id}</td>
                        <td><img src="${clube.urlBandeira}" alt="Bandeira ${clube.nome}" width="40px" /></td>
                        <td>${clube.nome}</td>
                        <td>Grupo ${grupo.nome}</td>
                        <td><a href="" role="button" onclick="editar(event)" data-clube-id="${clube.id}" class="link-primary">editar</a> | <a href="" role="button" onclick="excluir(event)" data-clube-id="${clube.id}" class="link-danger">excluir</a></td>
                    </tr>`;
            });
            document.getElementById("clubes-rows").innerHTML = htmlTable;

            grupos.forEach(grupo => {
                gruposOptions += `
                        <option value="${grupo.id}">Grupo ${grupo.nome}</option>`;
            });
            document.getElementById("addGrupos").innerHTML = gruposOptions;

        } catch (e) {
            console.log(e);
        }
    }

    carregarClubes();

</script>