<main class="fases-container ">
    <div class="fases-etapas">
        <!-- Oitavas de final -->
        <div class="fases-top fadeInDown" data-anime="300">
            <p>Oitavas de final</p>
            <div class="fases-oitavas">
                <div class="fases-combinacoes">
                    <span>3/12, 12:00</span>
                    <div>
                        <div class="fases-img">
                            <img width="30px" src="./img/flags/ad.png" alt="">
                            <span>A confirmar</span>
                        </div>
                        <div class="fases-img">
                            <img width="30px" src="./img/flags/ae.png" alt="">
                            <span>A confirmar</span>
                        </div>
                    </div>
                </div>
                <div class="fases-combinacoes">
                    <span>3/12, 12:00</span>
                    <div>
                        <div class="fases-img">
                            <img width="30px" src="./img/flags/ad.png" alt="">
                            <span>A confirmar</span>
                        </div>
                        <div class="fases-img">
                            <img width="30px" src="./img/flags/ae.png" alt="">
                            <span>A confirmar</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fases-oitavas">
                <div class="fases-combinacoes">
                    <span>3/12, 12:00</span>
                    <div>
                        <div class="fases-img">
                            <img width="30px" src="./img/flags/ad.png" alt="">
                            <span>A confirmar</span>
                        </div>
                        <div class="fases-img">
                            <img width="30px" src="./img/flags/ae.png" alt="">
                            <span>A confirmar</span>
                        </div>
                    </div>
                </div>
                <div class="fases-combinacoes">
                    <span>3/12, 12:00</span>
                    <div>
                        <div class="fases-img">
                            <img width="30px" src="./img/flags/ad.png" alt="">
                            <span>A confirmar</span>
                        </div>
                        <div class="fases-img">
                            <img width="30px" src="./img/flags/ae.png" alt="">
                            <span>A confirmar</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fases-oitavas">
                <div class="fases-combinacoes">
                    <span>3/12, 12:00</span>
                    <div>
                        <div class="fases-img">
                            <img width="30px" src="./img/flags/ad.png" alt="">
                            <span>A confirmar</span>
                        </div>
                        <div class="fases-img">
                            <img width="30px" src="./img/flags/ae.png" alt="">
                            <span>A confirmar</span>
                        </div>
                    </div>
                </div>
                <div class="fases-combinacoes">
                    <span>3/12, 12:00</span>
                    <div>
                        <div class="fases-img">
                            <img width="30px" src="./img/flags/ad.png" alt="">
                            <span>A confirmar</span>
                        </div>
                        <div class="fases-img">
                            <img width="30px" src="./img/flags/ae.png" alt="">
                            <span>A confirmar</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fases-oitavas">
                <div class="fases-combinacoes">
                    <span>3/12, 12:00</span>
                    <div>
                        <div class="fases-img">
                            <img width="30px" src="./img/flags/ad.png" alt="">
                            <span>A confirmar</span>
                        </div>
                        <div class="fases-img">
                            <img width="30px" src="./img/flags/ae.png" alt="">
                            <span>A confirmar</span>
                        </div>
                    </div>
                </div>
                <div class="fases-combinacoes">
                    <span>3/12, 12:00</span>
                    <div>
                        <div class="fases-img">
                            <img width="30px" src="./img/flags/ad.png" alt="">
                            <span>A confirmar</span>
                        </div>
                        <div class="fases-img">
                            <img width="30px" src="./img/flags/ae.png" alt="">
                            <span>A confirmar</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Quartas de final -->
        <div class="fases-top fadeInDown" data-anime="600">
            <p>Quartas de final</p>
            <div class="fases-quarta">
                <div class="fases-combinacoes">
                    <span>3/12, 12:00</span>
                    <div>
                        <div class="fases-img">
                            <img width="30px" src="./img/flags/ad.png" alt="">
                            <span>A confirmar</span>
                        </div>
                        <div class="fases-img">
                            <img width="30px" src="./img/flags/ae.png" alt="">
                            <span>A confirmar</span>
                        </div>
                    </div>
                </div>
                <div class="fases-combinacoes">
                    <span>3/12, 12:00</span>
                    <div>
                        <div class="fases-img">
                            <img width="30px" src="./img/flags/ad.png" alt="">
                            <span>A confirmar</span>
                        </div>
                        <div class="fases-img">
                            <img width="30px" src="./img/flags/ae.png" alt="">
                            <span>A confirmar</span>
                        </div>
                    </div>
                </div>
                <div class="fases-combinacoes">
                    <span>3/12, 12:00</span>
                    <div>
                        <div class="fases-img">
                            <img width="30px" src="./img/flags/ad.png" alt="">
                            <span>A confirmar</span>
                        </div>
                        <div class="fases-img">
                            <img width="30px" src="./img/flags/ae.png" alt="">
                            <span>A confirmar</span>
                        </div>
                    </div>
                </div>
                <div class="fases-combinacoes">
                    <span>3/12, 12:00</span>
                    <div>
                        <div class="fases-img">
                            <img width="30px" src="./img/flags/ad.png" alt="">
                            <span>A confirmar</span>
                        </div>
                        <div class="fases-img">
                            <img width="30px" src="./img/flags/ae.png" alt="">
                            <span>A confirmar</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Semifinais -->
        <div class="fases-top fadeInDown" data-anime="900">
            <p>Semifinais</p>
            <div class="fases-semifinais">
                <div class="fases-combinacoes">
                    <span>3/12, 12:00</span>
                    <div>
                        <div class="fases-img">
                            <img width="30px" src="./img/flags/ad.png" alt="">
                            <span>A confirmar</span>
                        </div>
                        <div class="fases-img">
                            <img width="30px" src="./img/flags/ae.png" alt="">
                            <span>A confirmar</span>
                        </div>
                    </div>
                </div>
                <div class="fases-combinacoes">
                    <span>3/12, 12:00</span>
                    <div>
                        <div class="fases-img">
                            <img width="30px" src="./img/flags/ad.png" alt="">
                            <span>A confirmar</span>
                        </div>
                        <div class="fases-img">
                            <img width="30px" src="./img/flags/ae.png" alt="">
                            <span>A confirmar</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Final -->
        <div class="fases-top fadeInDown" data-anime="1200">
            <p>Final</p>
            <div class="fases-finais">
                <div class="fases-combinacoes">
                    <span>3/12, 12:00</span>
                    <div>
                        <div class="fases-img">
                            <img width="30px" src="./img/flags/ad.png" alt="">
                            <span>A confirmar</span>
                        </div>
                        <div class="fases-img">
                            <img width="30px" src="./img/flags/ae.png" alt="">
                            <span>A confirmar</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
