<main class="main-partidas">
    <div class="main-modal modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true"></div>

    <div id="m-container" class="main-container fadeInDown" data-anime="500">
        <span class="text-center">Carregando ...</span>
    </div>
</main>
